

* {
  margin:0;
}

.app {
  background-color: #fafafa;
  /*height: 100vh;*/
}


.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  object-fit: contain; /* It keeps the ratio. Never strech the logo or anything*/
  padding: 13px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app__headerImage {
  margin-left: 20px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__loginContainer {


}

.app__posts {
  padding:20px;
  display: flex;
  justify-content: center;
}


.app__postsLeft {


}

.app__postsRight {
  margin-left: 20px;

}